@model IEnumerable<BlindMatchPAS.Models.ProjectProposal>

@{
    ViewData["Title"] = "Project Proposals Index";
}

<h1>Project Proposals</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Proposal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalStack)
            </th>
            @* Marking Criterion: Displaying related data from ResearchArea table *@
            <th>
                Research Area
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abstract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TechnicalStack)
                </td>
                <td>
                    @* Note: Directly accessing the Name property of the related ResearchArea object. 
                   Ensure '.Include(p => p.ResearchArea)' is used in the Controller's Index method.
                *@
                    @item.ResearchArea?.Name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>